@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Mono:wght@400;600&display=swap");

header {
  display: block;
  text-align: left;
}

nav {
  text-align: left;
  display: flex;
  gap: 1em;
  font-size: 18px;
}

.main {
  font-family: "Red Hat Mono", monospace;
  display: block;
  text-align: justify;
  margin: 0 auto;
  max-width: 600px;
  flex: 1;
  width: 100%;
}
