html {
  box-sizing: border-box;
}
/* header {
  height: 100px;
} */
/* nav {
  position: fixed;
  top: 0;
  left: 0;
  background: blue;
  border-radius: 12px;
} */
/* nav {
  background: blue;
}
nav ul {
  display: flex;
  justify-content: right;
  padding-top: 10px;
}
nav ul li {
  flex-basis: 6%;
}
nav ul li a {
  text-decoration: none;
} */

main > article + article {
  display: flex;
  flex-direction: column;
  -moz-box-align: center;
  align-items: flex-end;
  justify-content: right;
}

main > article + article a {
  writing-mode: vertical-rl;
  text-decoration: none;
  display: inline-block;
  justify-content: right;
}
footer {
  border: 1px solid goldenrod;
}
#background-image {
  position: relative;
  margin-left: -2rem;
  margin-right: -2rem;
  margin-top: -2rem;
  background-position: center center;
  background-size: cover;
  background-image: url(/blogMicah/src/imgs/john-bogna-hYbWJvCHVRo-unsplash.jpg);
}
#container {
  z-index: 20;
  position: relative;
  padding-left: 1rem;
  padding-right: 1rem;
  max-width: 1280px;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
}

#intro {
  padding: 8rem 1rem;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  /* display: flex;

  justify-content: center;

  flex-direction: column;
  align-items: flex-start;
  margin: 0px auto;

  width: auto;
  padding: 0px; */
}
#left-column {
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
}

#sp-id-1 {
  display: inline-block;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding-left: 0.75rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem rem;
  --tw-text-opacity: 1;
  color: rgba(247, 250, 252, var(--tw-text-opacity));
  border-left-width: 4px;
  --tw-border-opacity: 1;
  border-color: rgba(66, 153, 225, var(--tw-border-opacity));
  font-weight: 500;
  font-size: 0.875rem;
}
.myName {
  text-align: left;
  font-size: 3rem;
  font-weight: 900;
  --tw-text-opacity: 1;
  color: rgba(247, 250, 252, var(--tw-text-opacity));
  line-height: 1;
}
.statement {
  text-align: left;
  font-weight: 700;
  --tw-text-opacity: 1;
  color: rgba(242, 237, 237, var(--tw-text-opacity));
  margin-top: 0.5rem;
  font-size: inherit;
}
.aboutContainer {
  position: relative;
}

#about {
  flex-direction: row;
  padding-top: 6rem;
  padding-bottom: 6rem;
  display: flex;

  -webkit-box-pack: justify;
  justify-content: space-between;
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;

  -webkit-box-align: center;
  align-items: center;

  /* display: grid;
  margin: 0px auto;
  max-width: 900px;
  grid-template-columns: 3fr 2fr;
  gap: 50px;
  border: 1px solid black; */
}
/* #skillList {
  display: grid;
  grid-template-columns: repeat(2, minmax(140px, 200px));
  gap: 0px 10px;
  padding: 0px;
  margin: 20px 0px 0px;
  overflow: hidden;
  list-style: none;
} */

#textParent {
  margin-right: 3rem;
  order: -9999;
  width: 50%;
  margin-top: 0px;
  max-width: none;
  margin-left: 0px;
}
.aboutTitle {
  text-align: left;
  font-size: 2.25rem;
  margin-top: 1rem;
  font-weight: 900;
  line-height: 1.25;
  letter-spacing: 0.025em;
}
.aboutText {
  text-align: left;
  font-size: 1rem;
  margin-top: 1rem;
  font-weight: 500;
  line-height: 1.625;
}
#imgParent {
  width: 33.3333%;

  flex-shrink: 0;
  position: relative;
  max-width: none;
  margin-left: 0px;
  margin-right: 0px;

  /* position: relative;
  max-width: 300px; */
}
img {
  border-radius: 9999px;
  border-width: 1px;
  --tw-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

#work {
  margin: 0px auto;
  padding: 100px 0px;
  max-width: 1000px;
}
#contactContainer {
  font-family: "Arial";
  max-width: 600px;
  margin: 0px auto;
  padding: 16px;
  background: rgba(71, 105, 255);
  border-radius: 0.5rem;
}
.contactTitle {
  font-size: 2.25rem;
  font-weight: 700;
  color: aliceblue;
}
input {
  width: 94%;
  padding: 8px;
  margin: 8px 0px;
  border: 1px solid #dddddd;
}
label {
  color: aliceblue;
}
textarea {
  width: 94%;
  padding: 8px;
  margin: 8px 0px;
  border: 1px solid #dddddd;
}
input[type="submit"] {
  width: 100%;
  background-color: #3040c4;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.fa-brands {
  color: white;
  padding: 0.3em;
  font-size: 1.5em;
}

/* .projectList {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.project {
  margin-bottom: 100px;
  position: relative;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(12, 1fr);

  align-items: center;
}
.project .projectContent {
  grid-column: 7 / -1;
  text-align: right;
  position: relative;
  grid-area: 1 / 1 / -1 / 7;
}
.project .projectImgContent {
  grid-area: 1 / 6 / -1 / -1;
  grid-column: 1 / 8;
  position: relative;
  z-index: 1;
} */
