html {
  box-sizing: border-box;
}
header {
  height: 100px;
}
/* nav {
  position: fixed;
  top: 0;
  left: 0;
  background: blue;
  border-radius: 12px;
} */
nav {
  background: blue;
}
nav ul {
  display: flex;
  justify-content: right;
  padding-top: 10px;
}
nav ul li {
  flex-basis: 6%;
}
nav ul li a {
  text-decoration: none;
}

main > article + article {
  display: flex;
  flex-direction: column;
  -moz-box-align: center;
  align-items: flex-end;
  justify-content: right;
}

main > article + article a {
  writing-mode: vertical-rl;
  text-decoration: none;
  display: inline-block;
  justify-content: right;
}
footer {
  border: 1px solid goldenrod;
}
#background-image {
  position: relative;
  margin-left: -2rem;
  margin-right: -2rem;
  margin-top: -2rem;
  background-position: center center;
  background-size: cover;
  background-image: url(/blogMicah/src/imgs/john-bogna-hYbWJvCHVRo-unsplash.jpg);
}
#container {
  z-index: 20;
  position: relative;
  padding-left: 1rem;
  padding-right: 1rem;
  max-width: 1280px;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
}

#intro {
  padding: 8rem 1rem;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  /* display: flex;

  justify-content: center;

  flex-direction: column;
  align-items: flex-start;
  margin: 0px auto;

  width: auto;
  padding: 0px; */
}
#left-column {
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
}

#sp-id-1 {
  display: inline-block;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding-left: 0.75rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem rem;
  --tw-text-opacity: 1;
  color: rgba(247, 250, 252, var(--tw-text-opacity));
  border-left-width: 4px;
  --tw-border-opacity: 1;
  border-color: rgba(66, 153, 225, var(--tw-border-opacity));
  font-weight: 500;
  font-size: 0.875rem;
}
.myName {
  text-align: left;
  font-size: 3rem;
  font-weight: 900;
  --tw-text-opacity: 1;
  color: rgba(247, 250, 252, var(--tw-text-opacity));
  line-height: 1;
}
.statement {
  text-align: left;
  font-weight: 700;
  --tw-text-opacity: 1;
  color: rgba(242, 237, 237, var(--tw-text-opacity));
  margin-top: 0.5rem;
  font-size: inherit;
}
#about {
  display: grid;
  margin: 0px auto;
  max-width: 900px;
  grid-template-columns: 3fr 2fr;
  gap: 50px;
  border: 1px solid black;
}
#skillList {
  display: grid;
  grid-template-columns: repeat(2, minmax(140px, 200px));
  gap: 0px 10px;
  padding: 0px;
  margin: 20px 0px 0px;
  overflow: hidden;
  list-style: none;
}
#imgParent {
  position: relative;
  max-width: 300px;
}

#work {
  margin: 0px auto;
  padding: 100px 0px;
  max-width: 1000px;
}
#contact {
  border: 1px solid rebeccapurple;
}
.projectList {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.project {
  margin-bottom: 100px;
  position: relative;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(12, 1fr);

  align-items: center;
}
.project .projectContent {
  grid-column: 7 / -1;
  text-align: right;
  position: relative;
  grid-area: 1 / 1 / -1 / 7;
}
.project .projectImgContent {
  grid-area: 1 / 6 / -1 / -1;
  grid-column: 1 / 8;
  position: relative;
  z-index: 1;
}
